<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap-5.3.8/dist/css/bootstrap.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='bootstrap-5.3.8/dist/js/bootstrap.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header class="header navbar navbar-expand-lg">
    <div class="container-fluid" style="background-color: #fff;">
        <!-- Logo -->
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img class="logo" src="{{ url_for('static', filename='assets/logo.jpg') }}" alt="Logo">
        </a>

        <!-- Toggler button (for mobile) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('products') }}">Products Management</a>
                </li>
            </ul>
        </div>
    </div>
</header>

    <main class="main">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flash">
            {% for category, message in messages %}
            <li  class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <small>© 2025 | Capstone project by Sahil Shaikh </small>
    </footer>
</body>

</html>