<title>Contact Us</title>
{% extends "base.html" %}
{% block content %}
<div class="container-fluid main_container  ">
    <div class="contact_container row w-100 d-flex justify-content-center ">
        <!-- Left Side -->
        <div class="col-lg-5 text-center d-flex flex-column justify-content-center gap-3 px-5">
            <h1>Contact Us</h1>
            <h2>Inventory Management</h2>
            <h6>
                +91 9876543210 <br>
                inventory@gmail.com <br>
                ABC, Pune , Maharashtra
            </h6>

        </div>

        <!-- Right Side -->
        <div class=" contact_form_container col-lg-5 ">
            <form class="contact_form">
                <label for="name">Full Name</label>
                <input type="text" id="name" name="name" placeholder="Your Name" required>

                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" placeholder="Your Email" required>

                <label for="message">Message</label>
                <textarea id="message" name="message" placeholder="Write your message..." required></textarea>

                <button type="submit" onclick="alert('Thanks for your response!')" class="btn btn-primary mt-2">
                    Send Message
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}